@charset "UTF-8";

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cbb6dd;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b1b5c3;
}

body {
    --heading-font: "Marcellus", Roboto, sans-serif;
    --heading-font-weight: 400;
    --heading-color: #111;
    --heading-line-height: 1.24;
    
    --swiper-theme-color: #8C907E;
    
    /* Bootstrap */
    --bs-body-font-family: "Jost", Roboto, sans-serif;
    --bs-body-font-size: 18px;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #8f8f8f;
    --bs-body-color-rgb: 143, 143, 143;
    
    --bs-primary: #8C907E;
    --bs-secondary: #6c757d;
    --bs-black: #111;
    --bs-light: #F1F1F0;
    --bs-dark: #212529;
    --bs-gray: #9aa1a7;
    --bs-gray-dark: #51565b;
    
    --bs-primary-rgb: 140, 144, 126;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-black-rgb: 17, 17, 17;
    --bs-light-rgb: 241, 241, 240;
    --bs-dark-rgb: 33, 37, 41;
    
    --bs-link-color: #111;
    --bs-link-color-rgb: 17, 17, 17;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #111;
    --bs-link-hover-color-rgb: 17, 17, 17;
    
    letter-spacing: 0.03rem;

}

#wrap {
    height: inherit;
}
header{
    position: relative;
    display: flex
;
z-index:99;
    padding: 2em;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(255, 255, 255, .9);
}
header h1 {
    text-align: center;
    color: #222;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 2px;
    color: #bdb4a4;
    font-weight: 600;
    font-family: "Marcellus", Roboto, sans-serif;
  }
  header ul{
    display: flex
;
    gap: 20px;
    margin-left: auto;
    /* justify-items: unset; */
    /* justify-content: center; */
    align-items: center;
  }
  header ul li {
    line-height: 2em;
    text-transform: none;
    font-size: .7em;
    font-weight: normal;
    color: #999;
    letter-spacing: -0.005em;
    word-spacing: 1px;
  }
  header h1:after, header h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 45px;
    height: 4px;
    content: "";
    right: 45px; 
    margin:auto;
    background-color: #ccc;
  }
  header h1:before { 
  background-color:#bdb4a4;
    left:45px; width:90px;
  }
  
/* header {
    width: 18%;
    height: auto;
    background-color: #cbb6dd;
    border-radius: 2rem;
    padding: 1.5rem 1.5rem;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    float: left;
}

header h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

header nav .profile h3:after {
    content: "";
    background-color: #7d4aa9;
    border-radius: 50%;
    display: inline-block;
    margin-left: 4px;
    height: 0.5rem;
    width: 0.5rem;
}

header nav ul li:nth-child(1) {
    color: #fff;
}

header nav ul li {
    margin-bottom: 1rem;
    color: #fff;
} */

main {
    width: 100%;
    /* padding-left: 2%; */
    float: right;
    display: grid
;
    gap: 5rem;
    padding: 20px;
    margin-top:69px;
}
.about_section {
    width: 100%;
    float: left;
}
.container {
    max-width: 1140px;
    margin:0 auto;
}

.row {
    display: -ms-flexbox;
    display: flex
;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    font-weight:500;
    color: #333333;
    padding-top: 33px;
    text-transform: uppercase;
}
.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #333333;
    margin: 0px;
    padding-top: 170px;
}
.read_bt {
    width: 200px;
    float: left;
    padding-top: 170px;
}
.read_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    border: 1px solid #a1a1a1;
    color: #333333;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
}
.about_img {
    width: 100%;
    float: left;
}
.section {
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 2rem;
    box-shadow: 0px 6px 20px rgba(66, 95, 225, 0.2);
    padding: 3rem 2.5rem;
    /* float: right; */
    width: 100%;
    float: left;
    /* width: -webkit-fill-available;
    height: inherit;
    display: flex;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0px 6px 20px rgba(66, 95, 225, 0.2);
    padding: 3rem 2.5rem;
    float: right; */
}
.section01{
    gap:20px;
}
.section01-profile {
    width: 250px;
}

.section01-profile img {
    border-radius: 150px;
}

.section01-title {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
  width: 82%;
  color:#8f8f8f;
}
.section01-title span{
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
  color:#f7b823;
}
.item-wrap {
    display: flex
;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex
;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    margin-bottom: 5rem;
}
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    margin-bottom: 5rem; */


.preview-item {
    z-index: 10;
    position: relative;
    width: 350px;
    height: 300px;
    padding: 15px 16px 82px 14px;
    background: url(../images/mac.png) no-repeat;
    background-size: contain;
}

.item-text {
    min-width: 380px;
}

.preview-item-img {
    background-position: 0 0;
    background-size: cover;
    transition: background-position 3.0s ease;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* .item-wrap:nth-child(1) .preview-item-img {
    background-image: url(../images/pu_1.png);
}

.item-wrap:nth-child(2) .preview-item-img {
    background-image: url(../images/pu_3.png);

}

.item-wrap:nth-child(3) .preview-item-img {
    background-image: url(../images/pu_2.png);
    background-size: contain;
}

.item-wrap:nth-child(4) .preview-item-img {
    background-image: url(../images/insta.png);
} */

.preview-item-img:hover {
    background-position: 0 100%;
}

.item-text h3 {
    font-size: 1.75rem;
    line-height: 1.8;
    font-weight: 600;
}

.item-text>p {
    font-size: 0.875rem;
    line-height: 1.8;
    color: #646f7c;
    margin-bottom: 1rem;
}

.info-wrap {
    font-size: 0.875rem;
    line-height: 1.8;
    display: flex;
    gap: 0 1rem;
    margin-bottom: 0.5rem;
}
.title{
    margin-bottom:	1rem;
}
.bar{
        width: 1.5rem;
        height: 0.25rem;
        background-color: #bdb4a4;
        border-radius: 25px;
        margin-bottom: 1.8rem;
}
.skill, .certificate {
    display:block;
}
.swiper-wrapper{
    display:flex;
    gap:20px;
}
.swiper-slide{
    width:200px !important;

}

.skill ul, .certificate  ul {
    width: 100%;
    display: flex
;
    align-items: flex-end;
}

.skill ul li {
    justify-items: center;
    margin-left: auto;
    width: 50px;
}
.certificate ul li {
    justify-items: center;
    margin-left: auto;
}
.skill ul li:nth-child(1),.certificate ul li:nth-child(1){
    margin-left:0;
}
.skill ul li img {
    width: 50px;
}

.skill {
    width: 100%;
    margin: 0 auto;
}
/* Heading Styles */
h3, .h3, h4, .h4, h5, .h5 {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    color: var(--heading-color);
    line-height: var(--heading-line-height);
  }
  
  .h3, .h4, .h5 {
    color: var(--light-color);
  }
  
  h3 {
    margin: 25px 0;
    font-size: 2.8rem;
  }
  
  h4 {
    font-size: 1.8rem;
  }
  
  h5 {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  
  /* Link Styles */
  a {
    text-decoration: none;
  }
  
  /* Button Styles */
  .btn {
    --bs-btn-border-radius: 0;
  }
  
  .pagination {
    --bs-pagination-active-bg: var(--bs-black);
    --bs-pagination-border-width: 0;
    --bs-pagination-border-radius: 0;
  }
  
  /* Preloader */
  .preloader {
    position: fixed;
    z-index: 99;
    background: #111;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .preloader.loaded {
    height: 0;
  }
  
  /* Swiper */
  .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-size 1s ease-in-out;
  }
  
  /* Polygon */
  .polygon {
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
  }
  
  .aos-animate .polygon {
    animation: 1s polygon forwards;
  }
  
  @keyframes polygon {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    }
    100% {
      clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    }
  }
  
  /* Image Zoom Effect */
  .image-zoom {
    position: relative;
    overflow: hidden;
  }
  
  /* 확대된 이미지 스타일 */
  .image-zoom .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    transform: scale(1);
  }
  
  /* 마우스를 올렸을 때 확대 효과 */
  .image-zoom:hover .photo {
    transform: scale(var(--scale, 1.5)); /* 줌 배율을 동적으로 설정 */
  }
  
  .image-zoom-effect {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  
  .image-zoom-effect .image-holder {
    width: 100%;
    height: auto;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .image-zoom-effect:hover .image-holder {
    transform: scale(1.1); /* 확대 효과 */
  }
  
  .image-zoom-effect img {
    height: auto;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
  }
  
  .image-zoom-effect:hover img {
    transform: scale(1.1); /* 확대 효과 */
  }
  .contact{
    margin-bottom:20px;
  }
  .contact-form div{
    margin-bottom:12px;
    display:grid;
  }
  .contact-form div label{
    width: 120px;
  }
  .contact-form div input,   .contact-form div textarea {
    width: -webkit-fill-available;
    padding: 10px 10px;
    margin: 0px 20px 0px 0px;
    border: none;
    border-radius: 5px;
  }
  .contact-form .send_btn{
    width: -webkit-fill-available;
    padding: 4px 10px;
    border-radius: 4px;
    background: #bdb4a4;
    color: #fff;
    border: none;
    margin: 0px 20px 0px 0px;
  }
  .contact-form div textarea{
   height:226px;
   max-height:226px;
  }
  /* Search Popup */
  .search-popup {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
  }
  
  .search-popup.is-visible {
    opacity: 1;
    visibility: visible;
  }
  
  .search-popup .search-popup-close {
    position: absolute;
    top: 2em;
    right: 2em;
    padding: 0.5em;
    line-height: 0;
  }
  
  .search-popup .search-popup-close:hover {
    transform: rotate(90deg);
  }
  
  .search-popup .search-popup-close i {
    display: block;
    width: 1em;
    height: 1em;
    fill: rgba(0, 0, 0, 0.5);
  }
  
  .search-popup .search-popup-close:hover i {
    fill: rgba(0, 0, 0, 1);
  }
  
  .search-popup input[type="search"] {
    font-size: 24px;
    height: 60px;
    padding: 26px;
  }
  
  /* Button Link */
  .btn-link {
    font-size: 0.875rem;
    font-family: var(--bs-body-font-family);
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  a.btn-link,
  a.btn-link:after {
    transition: all 0.5s;
  }
  
  a.btn-link {
    position: relative;
  }
  
  a.btn-link:before,
  a.btn-link:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--bs-dark);
    height: 1px;
  }
  
  a.btn-link:before {
    background-color: var(--bs-gray);
    width: 100%;
  }
  
  a.btn-link.is-checked:after,
  a.btn-link:hover:after {
    width: 100%;
  }
  
  /* Swiper Slide Arrows */
  .icon-arrow {
    position: absolute;
    top: 50%;
    font-size: 2em;
    color: var(--dark-color);
    z-index: 8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #bdb4a4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s ease-out;
  }
  
  .icon-arrow:hover {
    opacity: 1;
  }
  
  .icon-arrow.icon-arrow-left {
  margin-left:-60px;
  }
  
  .icon-arrow.icon-arrow-right {
    margin-left:1130px
   }
  @media (max-width: 991px) {
    .icon-arrow.icon-arrow-left,
    .icon-arrow.icon-arrow-right {
      display: none;
    }
    .swiper-pagination {
      position: relative;
    }
  }
  .text-uppercase {
    text-transform: uppercase !important;
}
.link-effect a {
    position: relative;
    padding: 0;
    overflow: hidden;
    transition: transform 0.5s;
    display: block;
}
.link-effect a::after {
    content: attr(data-after);
    display: inline-block;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    font-size: 1rem;
    text-align: inherit;
    text-transform: uppercase;
    transition: inherit;
}
